.app {
  font-family: 'Arial', sans-serif;
  margin: 60px auto 60px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.main-content {
  padding: 60px 0;
  text-align: center;
}

.header .nav {
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
}
